<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Kính gửi: Ông/ Bà {0}</h3><br />
    <div class="content">
        Phòng khoa học Công nghệ & Hợp tác Phát triển thông báo,<br/> đề tài <b>{1}</b> do Ông/ Bà làm chủ nhiệm được dự kiến nghiệm thu vào ngày {2}.
        <br />
        Ông/ Bà vui lòng kiểm tra thông tin tại trang Web Quản lý nghiên cứu khoa học UET và chuẩn bị báo cáo cần thiết. <br />
        <br /><br /><br /><br /><br />
        <div style="font-style: italic"> Click vào <a href="https://www.facebook.com/exameen.dev/">đây</a> để xem mẫu báo cáo chi tiết!</div>

    </div>
    <hr />
    <div style="font-style: italic">
        Phòng khoa học Công nghệ & Hợp tác Phát triển
        <br />
        Địa chỉ: E3, 144 Xuân Thủy, Cầu Giấy, Hà Nội
    </div>
</body>
</html>